# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Conda
/clusterpath/
#add venv stuff
env/
venv/
venv.bak/
venv3/
venv3.bak/
env.bak/
.env.bak/

# Pytest
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# PyCharm
.idea/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytype
.pytype/